*{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    text-align: center;
    margin: 50px;
    color: white;
}

.wrapper{
    margin: 0 auto;
    max-width:  1450px;
}

body{
    background-color: rgb(32, 31, 29);
}

input[type="text"]
{
    width: 1000px;
    height: 250px;
    background: transparent;
    border: 3px solid white;
    border-radius: 20px;
}

button{
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 25px;
    margin-top: -40px;
    width: 300px;
}
